@font-face {
    font-family: 'mainfont';
    src: url('./src/improved_monoround.ttf');
}
header{
    position: absolute;
    font-family: 'mainfont';
    font-size: 300%;
    top: 7.5%;
    left: 47.5%;
}
body{
    background-color: #D0D0D0;
}
.clock{
    position: absolute;
    font-family: 'mainfont';
    background-color: #FF4C4C;
    width: 100%;
    height: 7.5%;
    top: 0%
}
.homepageintroduktion{
    position: absolute;
    font-family: 'mainfont';
    font-size: 125%;
    text-align: justify;
    top: 20%;
    left: 30%;
    right: 15%;
}
.copyrightfooter{
    position: absolute;
    font-family: 'mainfont';
    font-size: 75%;
    text-align: center;
    bottom: 35%; /* Adjust with 10% after how many buttons you want */
}
.navbar{
    position: absolute;
    background-color: #FF4C4C;
    height: 100%;
    width: 17.5%;
    top: 0%;
    left: 0%;
}
.buttoncontainer{
    position: absolute;
    background-color: black; /* This is added so you can see if a button doesnt work */
    height: 7.5%;
    width: 100%;
}
.btn{
    background-color: #41C8FF;
    font-family: 'mainfont';
    font-size: 125%;
    text-align: center;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.popupexitbutton{
    position: absolute; 
    width: 15%; 
    height: 15%; 
    left: 85%; 
    background-color: transparent; 
    border: none; 
    cursor: pointer;
}
.popupboxstyle{
    visibility: hidden;
    position: absolute;
    background-color: grey;
    height: 50%;
    width: 50%;
    left: 33%;
    top: 25%;
}
.popuptextstyle{
    font-family: 'mainfont';
    margin: 10%;
    font-size: 125%;
    text-align: justify;
}